		<!-- Footer
		============================================= -->
		<footer id="footer" class="dark noborder" style="background-color: #080808;">

			<div class="container-fluid clearfix">

				<!-- Footer Widgets
				============================================= -->
				<div class="footer-widgets-wrap clearfix" style="padding: 30px;">

					<div class="row clearfix">
						<div class="col-lg-6">

							<div class="col_one_fourth">
								<div class="widget widget_links clearfix">
									<h4>Góc xe cũ</h4>
									<ul>
										<li><a style="color: #fff !important;" href="#">Xe đã qua sử dụng</a></li>
										<li><a style="color: #fff !important;" href="#">Vay Toyota - Mua Toyota</a></li>
										<li><a style="color: #fff !important;" href="#">Bảo hiểm Toyota</a></li>
									</ul>
								</div>
							</div>
							<div class="col_one_fourth">
								<div class="widget widget_links clearfix">
									<h4>Giải đáp</h4>
									<ul>
										<li><a style="color: #fff !important;" href="#">Câu Hỏi Thường Gặp</a></li>
										<li><a style="color: #fff !important;" href="#">Tính Giá Lăn Bánh</a></li>
										<li><a style="color: #fff !important;" href="#">Chi Phí </a></li>
									</ul>
								</div>
							</div>
							<div class="col_one_fourth">
								<div class="widget widget_links clearfix">
									<h4>Góc tư vấn</h4>
									<ul>
										<li><a style="color: #fff !important;" href="#">Tin Tức - Sự Kiện</a></li>
										<li><a style="color: #fff !important;" href="#">Phong Thủy Xe Hơi</a></li>
										<li><a style="color: #fff !important;" href="#">Bảo Hiểm Xe Hơi</a></li>
									</ul>
								</div>
							</div>
							<div class="col_one_fourth col_last">
								<div class="widget widget_links clearfix">
									<h4>Giới thiệu</h4>
									<ul>
										<li><a style="color: #fff !important;" href="#">Tầm Nhìn</a></li>
										<li><a style="color: #fff !important;" href="#">Sứ Mệnh</a></li>
										<li><a style="color: #fff !important;" href="#">Chiến Lược Phát Triển</a></li>
									</ul>
								</div>
							</div>

						</div>

						<div class="col-lg-5 fright tright col_last">

							<img src="{{ site.url }}/car/assets/media/logo-toyota-nguyentronghuynh.comx100.png" alt="Huỳnh Toyota Thái Hòa Từ Liêm" height="50" style="margin-top: ">
							<br>
							<div style="color: #fff;">
								<span>&copy; Toyota Thái Hòa Từ Liêm. All Rights Reserved.</span><div class="clear"></div>
								<p style="margin-top: 10px;">Toyota Thái Hòa Từ Liêm phân phối: các dòng xe mới và xe đã qua sử dụng của Toyota (Vios, Yaris, Corolla Altis, Innova, Fortuner, Camry, Hiace, Hilux); phụ tùng, phụ kiện chính hãng, bảo hiểm dành cho xe.</p>
							</div>

						</div>
					</div>

				</div><!-- .footer-widgets-wrap end -->

			</div>

		</footer><!-- #footer end -->