	<!--Chong copy
	<script type="text/javascript" src="https://sites.google.com/site/bituotblog/disable-copy.js"></script>
	<style>
	body{
	-moz-user-select: none !important;
	-webkit-touch-callout: none!important;
	-webkit-user-select: none!important;
	-khtml-user-select: none!important;
	-moz-user-select: none!important;
	-ms-user-select: none!important;
	user-select: none!important;
	}
	</style>
	-->

<style>
	/* Revolution Slider */
	.ares .tp-tab { border: 1px solid #eee; }
	.ares .tp-tab-content { margin-top: -4px; }
	.ares .tp-tab-content { padding: 15px 15px 15px 110px; }
	.ares .tp-tab-image { width: 80px;height: 80px; }

	@media (min-width: 992px) {

		#page-menu-wrap { background-color: var(--light); }
		#page-menu .not-dark nav li:not(:last-child) { border-right: 1px solid #EEE }
		#page-menu .not-dark nav li a {
			color: #333;
			font-weight: 500;
			text-shadow: none;
		}
	}


	.border-form-control { border-color: #DDD }

		.dropdown-toggle::after { margin-left: 0.255em; }

		.dark .irs-bar { background-color: #CCC }
		.dark .irs-grid-text { color: #EEE }

		.flex-caption {
			opacity: 0;
			-webkit-transition: opacity .4s .4s, transform .4s .4s ease-in-out ;
			-o-transition: opacity .4s .4s, transform .4s .4s ease-in-out ;
			transition: opacity .4s .4s, transform .4s .4s ease-in-out ;
			-webkit-transform: translateY(50px);
			-ms-transform: translateY(50px);
			-o-transform: translateY(50px);
			transform: translateY(50px);
		}

		.flex-viewport { height: 100% !important; }

		.flex-caption.slider-caption-bottom {
			padding: 20px;
			width: 100%;
			min-width: 100%;
			left: 0;
			bottom: 0;
		}

		.flex-caption.slider-caption-bottom p {
			margin-bottom: 0;
			font-size: 15px;
		}

		.slide.flex-active-slide .flex-caption {
			opacity: 1;
			-webkit-transform: translateY(0);
			-ms-transform: translateY(0);
			-o-transform: translateY(0);
			transform: translateY(0);
		}

		.slide .flex-caption.card {
			top: 20px;
			font-size: 18px;
			-webkit-transform: translateY(0);
			-ms-transform: translateY(0);
			-o-transform: translateY(0);
			transform: translateY(0);
			-webkit-transition: opacity .4s .6s;
			-o-transition: opacity .4s .6s;
			transition: opacity .4s .6s;
		}

		.dropdown-toggle::after { margin-left: 0.255em; }

		/*--------------------
		paginations
		---------------------*/
		.dark .swiper-pagination span:nth-child(1):hover,
		.dark .swiper-pagination span:nth-child(1) { background-color: #7F858D }
		.dark .swiper-pagination span:nth-child(2):hover,
		.dark .swiper-pagination span:nth-child(2) { background-color: #CB394E }
		.dark .swiper-pagination span:nth-child(3):hover,
		.dark .swiper-pagination span:nth-child(3) { background-color: #75787B }
		.dark .swiper-pagination span:nth-child(4):hover,
		.dark .swiper-pagination span:nth-child(4) { background-color: #9C780E }


		/*--------------------
		Background
		--------------------*/
		.bg {
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			width: 100%;
			height: 100%;
		}

		/*--------------------
		Slider-text
		--------------------*/
		.slider-text {
			position: absolute;
			top: 150px;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 2;
			text-align: center;
		}

		.slider-text h2 {
			font-weight: 700;
			margin-bottom: 10px;
		}

		.slider-text p {
			font-size: 17px;
			font-weight: 300;
			opacity: .7;
		}
</style>

