		<!-- Header
		============================================= -->
		<header id="header" class="static-sticky full-header clearfix">

			<div id="header-wrap">

				<div class="container-fluid clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
						============================================= -->
					<div id="logo">
						<a href="{{ site.url }}/car/" class="standard-logo"><img src="{{ site.url }}/car/assets/media/logo-toyota-nguyentronghuynh.comx50.png" alt="Huỳnh toyota thái hòa từ liêm"></a>
						<a href="{{ site.url }}/car/" class="retina-logo"><img src="{{ site.url }}/car/assets/media/logo-toyota-nguyentronghuynh.comx100.png" alt="Huỳnh toyota thái hòa từ liêm"></a>
					</div><!-- #logo end -->

					<!-- Primary Navigation
					============================================= -->
					<nav id="primary-menu" class="with-arrows clearfix">
						<ul>
							<li class="current"><a href="{{ site.url }}/car/"><div>Toyota Thái Hòa</div></a></li>
							<!--li><a href="{{ site.url }}/car/list/"><div>Danh sách xe</div></a></li-->
							<!-- Mega Menu -->
							<li class="mega-menu"><a href="{{ site.url }}/car/new/"><div>Xe mới</div></a>
								<div class="mega-menu-content style-2 clearfix">
									<ul class="mega-menu-column col-lg-12">
										<li>
											<div class="widget center clearfix">

												<h3 class="nobottommargin">XE 2019</h3>
												<a href="#" class="button button-small button-rounded button-border button-dark button-black font-primary" style="margin: 10px 0 40px">Tất cả xe</a>

												<!-- Mega Menu Cars Carousel -->
												<div class="owl-carousel customjs image-carousel carousel-widget" data-margin="20" data-nav="false" data-pagi="true" data-items-xs="1" data-items-sm="2" data-items-md="4" data-items-lg="6" data-items-xl="6">
													<div class="oc-item center"><a href="{{ site.url }}/car/vios/"><img src="{{ site.url }}/car/assets/media/mega-menu/vios.png" alt="Toyota Vios">Toyota Vios</a></div>
													<div class="oc-item center"><a href="{{ site.url }}/car/wigo/"><img src="{{ site.url }}/car/assets/media/mega-menu/wigo.png" alt="Toyota Wigo">Toyota Wigo</a></div>
													<div class="oc-item center"><a href="{{ site.url }}/car/yaris/"><img src="{{ site.url }}/car/assets/media/mega-menu/yaris.png" alt="Toyota Yaris">Toyota Yaris</a></div>
													<div class="oc-item center"><a href="{{ site.url }}/car/innova/"><img src="{{ site.url }}/car/assets/media/mega-menu/innova.png" alt="Toyota Innova">Toyota Innova</a></div>
													<div class="oc-item center"><a href="{{ site.url }}/car/fortuner/"><img src="{{ site.url }}/car/assets/media/mega-menu/fortuner.png" alt="Toyota Fortuner">Toyota Fortuner</a></div>
													<div class="oc-item center"><a href="{{ site.url }}/car/corolla-altis/"><img src="{{ site.url }}/car/assets/media/mega-menu/altis.png" alt="Toyota Corolla Altis">Toyota Corolla Altis</a></div>
													<div class="oc-item center"><a href="{{ site.url }}/car/rush/"><img src="{{ site.url }}/car/assets/media/mega-menu/rush.png" alt="Toyota Rush">Toyota Rush</a></div>
													<div class="oc-item center"><a href="{{ site.url }}/car/camry/"><img src="{{ site.url }}/car/assets/media/mega-menu/camry.png" alt="Toyota Camry">Toyota Camry</a></div>
													<div class="oc-item center"><a href="{{ site.url }}/car/land-cruiser/"><img src="{{ site.url }}/car/assets/media/mega-menu/land-cruiser.jpg" alt="Toyota Land Cruiser">Toyota Land Cruiser</a></div>
													<div class="oc-item center"><a href="{{ site.url }}/car/land-cruiser-prado/"><img src="{{ site.url }}/car/assets/media/mega-menu/prado.png" alt="Toyota Land Cruiser Prado">Toyota Land Cruiser Prado</a></div>
													<div class="oc-item center"><a href="{{ site.url }}/car/alphard-luxury/"><img src="{{ site.url }}/car/assets/media/mega-menu/alphard.png" alt="Toyota Alphard Luxury">Toyota Alphard Luxury</a></div>

												</div>
											</div>
										</li>
									</ul>
								</div>
							</li>
							<li><a href="{{ site.url }}/car/old/"><div>Xe cũ</div></a></li>
							<!--li><a href="{{ site.url }}/car/accessories/"><div>Phụ kiện</div></a></li-->
							<!--li><a href="{{ site.url }}/car/faqs/"><div>Câu hỏi thường gặp</div></a></li-->
							<li><a href="{{ site.url }}/car/blog/"><div>Tin tức</div></a></li>
							<li><a href="{{ site.url }}/car/contact/"><div>Liên hệ</div></a></li>
						</ul>
					</nav><!-- #primary-menu end -->
				</div>

			</div>

			<div id="header-trigger"><i class="icon-line-menu"></i><i class="icon-line-cross"></i></div>

		</header><!-- #header end -->