
	<link rel="stylesheet" href="{{ site.url }}/car/assets/css/bootstrap.css" media="none" onload="if(media!='all')media='all'">
	<link rel="stylesheet" href="{{ site.url }}/car/assets/css/style.css" media="none" onload="if(media!='all')media='all'">
	<link rel="stylesheet" href="{{ site.url }}/car/assets/css/dark.css" media="none" onload="if(media!='all')media='all'">
	<link rel="stylesheet" href="{{ site.url }}/car/assets/css/swiper.css" media="none" onload="if(media!='all')media='all'">
	<link rel="stylesheet" href="{{ site.url }}/car/assets/css/components/bs-select.css" media="none" onload="if(media!='all')media='all'">
	<link rel="stylesheet" href="{{ site.url }}/car/assets/css/car.css" media="none" onload="if(media!='all')media='all'">
	<link rel="stylesheet" href="{{ site.url }}/car/assets/css/car/car-icons/style.css" media="none" onload="if(media!='all')media='all'">
	<link rel="stylesheet" href="{{ site.url }}/car/assets/css/font-icons.css" media="none" onload="if(media!='all')media='all'">
	<link rel="stylesheet" href="{{ site.url }}/car/assets/css/animate.css" media="none" onload="if(media!='all')media='all'">
	<link rel="stylesheet" href="{{ site.url }}/car/assets/css/magnific-popup.css" media="none" onload="if(media!='all')media='all'">
	<link rel="stylesheet" href="{{ site.url }}/car/assets/css/car/fonts.css" media="none" onload="if(media!='all')media='all'">
	<link rel="stylesheet" href="{{ site.url }}/car/assets/css/responsive.css" media="none" onload="if(media!='all')media='all'">
	<link rel="stylesheet" href="{{ site.url }}/car/assets/css/colors.php?color=c85e51" media="none" onload="if(media!='all')media='all'">
	<link rel="stylesheet" href="{{ site.url }}/car/assets/css/components/bs-select.css" media="none" onload="if(media!='all')media='all'">
	<link rel="stylesheet" href="{{ site.url }}/car/assets/css/components/bs-switches.css" media="none" onload="if(media!='all')media='all'">
	<link rel="stylesheet" href="{{ site.url }}/car/assets/css/components/datepicker.css" media="none" onload="if(media!='all')media='all'">
	<link rel="stylesheet" href="{{ site.url }}/car/assets/css/components/ion.rangeslider.css" media="none" onload="if(media!='all')media='all'">



	<!-- SLIDER REVOLUTION 5.x CSS SETTINGS -->
	<link rel="stylesheet" type="text/css" href="{{ site.url }}/car/assets/include/rs-plugin/css/settings.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="{{ site.url }}/car/assets/include/rs-plugin/css/layers.css">
	<link rel="stylesheet" type="text/css" href="{{ site.url }}/car/assets/include/rs-plugin/css/navigation.css">
	<!--[if lt IE 9]>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->
	
