		<!-- Slider
		============================================= -->
		<section id="slider" class="slider-element swiper_wrapper full-screen force-full-screen clearfix" data-dots="true" data-loop="true" data-grab="false">

			<div class="swiper-container swiper-parent">
				<div class="swiper-wrapper">
					<div class="swiper-slide dark" style="background-image: url('{{ site.url }}/car/assets/media/hero-slider/toyota-land-cruiser-fullhd.jpg'); background-size: cover">
						<div class="container clearfix">
							<div class="slider-caption center">
								<h2 class="font-primary nott">TOYOTA LAND CRUISER</h2>
								<p class="t300 font-primary d-none d-sm-block">New and Powerful SUV</p>
								<a href="{{ site.url }}/car/land-cruiser/" class="button button-rounded button-border button-white button-light nott">Xem chi tiết</a>
							</div>
						</div>
					</div>
					<div class="swiper-slide dark" style="background-image: url('{{ site.url }}/car/assets/media/hero-slider/toyota-camry-fullhd.jpg'); background-size: cover">
						<div class="container clearfix">
							<div class="slider-caption top-left center">
								<h2 class="font-primary nott">NEW CAMRY 2019</h2>
								<p class="t300 font-primary d-none d-sm-block">Raise your limits over</p>
								<a href="{{ site.url }}/car/camry/" class="button button-rounded button-border button-white button-light nott">Xem chi tiết</a>
							</div>
						</div>
					</div>
					<div class="swiper-slide dark" style="background-image: url('{{ site.url }}/car/assets/media/hero-slider/toyota-yaris-fullhd.jpg'); background-size: cover">
						<div class="container clearfix">
							<div class="slider-caption slider-caption-center">
								<h2 class="font-primary nott">TOYOTA YARIS</h2>
								<p class="t300 font-primary d-none d-sm-block">A Blue Diamond</p>
								<a href="{{ site.url }}/car/yaris/" class="button button-rounded button-border button-white button-light nott">Xem chi tiết</a>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-pagination"></div>
			</div>

		</section><!-- #Slider End -->