		<!-- Page Sub Menu
		============================================= -->
		<div id="page-menu">
			<div id="page-menu-wrap" style="background-color: #e43636;">
				<div class="container clearfix">

					<div class="menu-title"><span>TOYOTA</span> VIOS 2019</div>

					<nav class="one-page-menu">
						<ul>
							<li><a href="#" data-href="#section-features"><div>Tính năng</div></a></li>
							<li><a href="#" data-href="#section-price"><div>Giá bán</div></a></li>
							<li><a href="#" data-href="#section-spec"><div>Thông số kỹ thuật</div></a></li>
							<li><a href="#" data-href="#section-gallery"><div>Hình ảnh</div></a></li>
							<li><a href="#" data-href="#section-brochures"><div>Bộ sưu tập</div></a></li>
							<li><a href="#" data-href="#section-store"><div>Đại lý</div></a></li>
						</ul>
					</nav>

				<div id="page-submenu-trigger"><i class="icon-reorder"></i></div>

				</div>
			</div>
		</div><!-- #page-menu end -->